[galaxy]
server_list = galaxy, automation_hub

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/

[galaxy_server.automation_hub]
url=https://cloud.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# Token must be passed as a environment variable:
# ANSIBLE_GALAXY_SERVER_RELEASE_GALAXY_TOKEN=secret_token
